
.dish-chip {
 height: 75px;
 width: 75px;
 background-color: #fff;
border-radius: 50px;
border: 1px solid #d3d2d2;
margin: 0 12px 0 auto;
border: 1px solid orange;
display:inline-block;
text-align: center;
position: relative;
left: 10px;
}

.chip-label{
    color: white;
    position: absolute;
    top: 22px;
    font-size: 15px;
    font-weight: 600;
}