.veg-col {
    background-color: green;
}

.food-card{
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    height: 150px;
    margin: 25px;
    padding: -1px;
    background-color: white;
}

.food-card-img {
    object-fit: cover;
    border-radius: 12px;
}

.add-btn {
    background-color: #FFFFFF; 
    border: 2px solid #FF9720;
    color: #FF9720;
    border-radius: 6px;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -6px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

 .plus-btn{
    float: right;
    top: -9px;
    right: -10px;
    position: relative;
 }
 .food-div{
    display: flex;
     flex-direction: row;
      justify-content: space-between;
 }
 .food-div1{
    flex-direction: row;
     justify-content: center;
     text-align:start;
     margin-right:15vh;
 }
 .food-span{
    font-size: 16px;
     font-weight: 700;
 }
 .food-span1{
    color: white;
     background-color: #51C452;
      margin-left: 4px;
 }
 .food-div2{
    display: flex;
     flex-direction: row;
      margin-top: 12px;
 }
 .food-div3{
    display: flex;
     justify-content: center;
      align-items: center;
       flex-direction: column;
        margin-right: 10px; 
 }
 .food-div4{
    width: 1px;
    justify-content: center;
    background-color: #d8d0d0;
    height: 35px;
    display: flex;
 }
 .food-div5{
    font-size: 12px;
     font-weight: 700;
 }
 .food-div6{
    font-size: 8px;
     text-align: start;
      font-weight: 700;
       color: orange;
        margin-top: -7px;
         cursor: pointer;
 } 
 .food-div7{
    margin: 5px 18px 0px 0px;
     line-height: 1;
      text-align: start;
 }