
  .dish-chip-box{
   position: absolute;
  width: 92%; 
  height: 100px;
  left: -7%; top: 63%;
  transform: translateY(-10%);
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  }

  .dish-chip-box .dish-chip-scroll-bar{
height:100%;
  width:100%;
  overflow-x: scroll;
  }

  .dish-chip-scroll-bar::-webkit-scrollbar {
    display: none;
  }
  .h-dish-chip-box{
    position: absolute;
  height: 100px;
  left: 6%;
   top: 63%;
  transform: translateY(-70%); 
  justify-content: flex-start;
  margin-left: auto;
    margin-block-start: initial;
    font-weight: 600;
    font-size: x-large;
  }